*{
    box-sizing: border-box;
    background-color: black;
    color: rgb(237, 245, 245);
    font-style: oblique;
}
.body
{
    margin: 8px;
    display: block;
    padding: 0;
    
}
.topbar{
    
    justify-content: space-between;
    display: flex;
    
}
.title:hover{
   
    justify-content: space-around;
    color: lightcoral;
    cursor: pointer;
}
.navigation{
    display: flex;
    width: 15rem;
    justify-content: space-around;
    
}
.nav:hover{
 color: lightcoral;
 cursor: pointer;
}
.image-container{
    width: 100%;

}
.image{
    width: 95vw;
    margin: 1rem;
    
}
.description{
    display: flex;
    text-align: center;
    font-size: 1.5rem;

}
.content{
    margin-right: 2rem;
    padding: 1rem;
    
}
.description >img{
    width: 4rem;
}
.bottom{
    background-color: black;
    height: 2rem;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}